RETAILPULSE_ENTERPRISE_HOME=E:/RetailPulseEnterprise
RETAILPULSE_ENTERPRISE_COMPONENTS=E:/RetailPulseEnterprise/components
RETAILPULSE_ENTERPRISE_DATA=E:/RetailPulseEnterprise/data
RETAILPULSE_ENTERPRISE_LOGS=E:/RetailPulseEnterprise/logs

HADOOP_HOME=E:/RetailPulseEnterprise/components/hadoop-3.4.2
SPARK_HOME=E:/RetailPulseEnterprise/components/spark-3.5.8-bin-hadoop3
HIVE_HOME=E:/RetailPulseEnterprise/components/apache-hive-4.2.0-bin
KAFKA_HOME=E:/rp-kafka
ZOOKEEPER_HOME=E:/RetailPulseEnterprise/components/apache-zookeeper-3.9.5-bin
HBASE_HOME=E:/RetailPulseEnterprise/components/hbase-2.6.4
SQOOP_HOME=E:/RetailPulseEnterprise/components/sqoop-1.4.7.bin__hadoop-2.6.0
FLINK_HOME=E:/RetailPulseEnterprise/components/flink-2.1.1
REDIS_HOME=E:/RetailPulseEnterprise/components/redis-stable
MAVEN_HOME=E:/RetailPulseEnterprise/components/apache-maven-3.9.15

HDFS_WAREHOUSE_ROOT=hdfs://localhost:9000/warehouse/retailpulse
HIVE_DATABASE=retailpulse_offline
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ZOOKEEPER_CONNECT=localhost:2181
